{% extends 'base.html' %}

{% block title %}Register - ExpenseTracker{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Register</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-outline mb-4">
                            {{ field }}
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
